@import "../../../../../styles/common.scss";
@import "../../../../../styles/reset.scss";
.contentTwo{
    position: fixed;
    background-color:$PrimaryWhite;
    width:28%;
    right:2%;
    top: 14.5%;
    .userInfo{
        height:8rem;
        display:flex;
        margin-bottom:30px;
        align-items: center;
        .spanWrap{
            display:flex;
            flex-direction: column;
            span{
                margin-bottom: 8px;
                margin-left:30px;
                &:first-child{
                    font-weight:600;
                }
            }
        }
    }
    img{
        display: block;
        width:80px;
        height:80px;
        border-radius: 50%;
    }
    p{
        margin-left:20px;
    }
}
.wrapForRecommend{

}

.recommended{
    .recommendedUsers{
        display:flex;
        justify-content: space-between;
        margin:0;
        padding:0;
        padding-bottom:2rem;
        img{
            width:3rem;
            height:3rem;
        }
        .ruInnerWrap{
            padding-top:1rem;
        }
        button{
            background:transparent;
            border:0.3px solid #c0c0c0;
        }
    }
}
.recommendedUsersInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
    span{
        margin-bottom:20px;
    }
}

footer{
    margin-top:5rem;
}
