//여긴 공통

$PrimaryGreywhite:rgb(250,250,250);
$PrimaryTextcolor:rgb(35,31,32);
$PrimaryWhite:rgb(255,255,255);
$PrimaryBlue:rgb(58, 172, 247);


//기존것 변경하거나 삭제하면 충돌.
//새로 추가되는건 상관없음.
//내가 개인적으로 자주쓰는거 넣어놔도됨.

//여긴 셩이꺼


//여긴 동이꺼

//여긴 모리꺼

//여긴 동현이꺼