
.whole {
  width: auto;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;   

  .mainHeader {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(219, 219,219);
    position: fixed;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    
    .mainNav {
      max-width: 935px;
      width: 100%;
      height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      margin-right: auto;    
      padding: 0 40px;
          
        .mainLogo {
        width: 270px;
        height: 30px;
        font-family: 'Lobster', cursive;
        font-size: 25px;
        display: flex;
        justify-content: center;
        margin: 0px;
        }
        
        .searchBar {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        position: relative;
        
          .search {
          font-size: 11px;
          color: rgb(219, 219, 219);
          position: absolute;
          margin-top: 7px;
          margin-right: 70px;
          }
          
          .searchText {
          width: 215px; 
          height: 24px;
          text-align: center;
          font-size: 12px;
          color: rgb(219, 219,219);
          border: 1px solid rgb(219, 219,219);
          border-radius: 3px; 
          }
        }
        
        .navIcon {
        width: 198px;
        height: 22px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
          
          a { 
            width: 22px;
            height: 22px;
            text-decoration: none;
            color:rgb(38, 38, 38);
            margin: 0;
          }

          img { 
            width: 22px;
            height: 22px;
            border-radius: 50px;
          }
          
          .home {
            font-size: 20px;   
            white-space: nowrap;
            margin-right: 20px; 
            color: rgb(38, 38, 38);                    
          }

          .airplane {
            @extend .home ;
          }

          .compass {
            @extend .home;
          }

          .heart {
            @extend .home;
          }
        }
    }
  }

  .mainMain {
    width: 100%;
    background-color: #FAFAFA;
    position: relative;
    top: 48px;
    padding: 1px;
    z-index: 1;
  
    .feed {
      width: 560px; 
      display: flex;
      flex-flow: column nowrap;
      margin: 0 auto;
      padding-top: 30px;
    
      .viewStory {
        box-sizing: content-box;
        width: 560px;
        height: 84px;
        padding: 16px 0px; 
        margin: 0px;
        background-color: #ffffff; 
        border: 1px solid rgb(219, 219, 219);
        border-radius: 3px;
        overflow-x: hidden;
        overflow-y: hidden;
    
        .storyUl {
          width: 20px;
          height: 84px;
          list-style: none;
          margin: 0;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
        
          .storyList {
            width: 80px;
            height: 112px;
          
            .storyItem{
              width: 80px;
              height: 122;
              display: flex;
              justify-content: center;
              position: relative;
            
              .storyBtn {
                width: 64px;
                height: 70px;
                background-color: #ffffff;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;  
                align-items: center;
              
                .storyPhoto {
                  width: 56px;
                  height: 56px;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                
                  .storyImg {
                    width: 56px;
                    height: 56px; 
                    border-radius: 70px;  
                    border: 1px solid rgb(219, 219, 219);
                  }
                }
                
                .storyUser {
                  width: 62px;
                  height: 14px;  
                  font-size: 12px;
                  color: rgb(83, 83, 83);
                  position: absolute;
                  top: 68px;
                  left: 8px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
        
      .viewUpload {
        width: 560px;
        height: auto;
        background-color: #ffffff;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        
        .uploadUser{
          width: 558px;
          height: 50px;
          background-color: #ffffff;
          border-bottom: 1px solid rgb(219, 219, 219);
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 0;
   
          .uploaderFace{
            width: 42px;
            height: 42px;
            margin: 0 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
              width: 32px;
              height: 32px;
              border-radius: 70px;
              left: 5px;
              top: 5px;  
            }
          }
            
          .uploaderInfo{
            width: 450px;
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
          
            .userName {
              font-style: bold;
              font-size: 14px;
              width: auto;
              margin: 3px 3px 0 0;
            }
          
            .userPlace{
              font-size: 11px;
              width: 100px;
              height: 15px;
              margin: 0;
            }
          }
          
          .moreInfo{
            width: 16px;
            height: 16px;
            margin: 0 0 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      
        .uploadImg {
          width: 560px;
          height: 560px;
          
          img {
            width: 560px;
            height: 560px;
          }
        }
      
        .viewComment {
          width: 560px;
          margin: 0;
          box-sizing: border-box;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
      
          .feedbackIcon {
            width: 540px;
            height: 40px;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            
            span {
              width: 22px;
              display: flex;
              justify-content: flex-start;
              margin-right: 15px;
              align-items: center;
            }

            .heart {
              font-size: 22px;  
              margin: 0 2px;
              white-space: nowrap;
              align-items: center;
            }

            .balloonIcon {
              @extend .heart;
            }

            .airplane {
              @extend .heart;
            }
            .bookMark {
              @extend .heart;
              position: absolute;
              right: 8px;
            }
          }

          .likeCount {
            width: 520px;
            height: 18px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 2px 0 0;
          
            span {
              font-size: 15px;
              font-style: bold;
              margin-right: 5px;
            }
          }
          
          .uploaderWriting {
            width: 540px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0;
            
            .userName {
              font-style: bold;
              font-size: 14px;
              width: auto;
              margin-right: 5px;
            }
            .userSentence {
              box-sizing: content-box;
              width: 135px;
              height: 18px;
              font-size: 13px;
              padding-top: 5px;
              margin: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            
            .showMoreWriting {
              width: auto;
              height: 18px;
              display: flex;
              align-items: center;
              margin: 0px;
            
      
              button{
                font-size: 14px;
                color:rgb(219, 219, 219);
                background: none ;
                outline: none;
                border: none;
                margin: 0;
              }
            }
          }
              
          .comments {
            width: 540px;
            margin-top: 2px;
            }
            
            .replies {
              width: 540px;
              list-style: none;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              margin: 0;
              padding: 0;
              
              .viewAll {
                width: 300px;
                color: rgb(219, 219, 219);
                margin: 0;
              }
              
              .reply {
                width: 540px;
                height: 18px;
                margin-top: 2px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                
                .userName {
                  font-style: bold;
                  font-size: 14px;
                  width: auto;
                  margin-right: 5px;
                }
                
                .userSentence {
                  width: 135px;
                  height: 18px;
                  font-size: 13px;
                  box-sizing: content-box;
                  padding-top: 5px;
                  margin: 0;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                .likeHeart {
                  width: 18px;
                  margin: 0px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  position: absolute;
                  right: 10px;
              
                  .heart {
                    font-size: 13px;
                  }
                }
              }
            }
          }
                
          .updateDate {
            width: 540px;
            height: 19px;
            display: flex;
            justify-content: flex-start;
            margin: 3px 0 0 20px;

            span {
              width: auto;
              font-size: 11px;
              color: rgb(142, 142, 142);
              margin: 0 2px 0 0;
            }
          }
          
          .addComment {
            width: 545px;
            height: 50px;
            border-top: 1px solid rgb(219, 219, 219);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2px;
            padding: 0 0 0 15px;
            position: relative;
          
          .smileIcon {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0px;
          
            .smile {
              font-size: 20px;
              margin: 0;
            }
          }
          
          .inputComment {
            width: 450px;
            display: flex;
            align-items: center;
            margin-left: 5px;

            input{
                width: 450px;
                height: 18px;
                margin: 0;
                border: none;
                outline: none;
                color: rgb(142, 142, 142);
              }
            }
            
          .post {
            width: auto;
            position: absolute;
            right: 5px;
          
            button {
              width: auto;
              margin: 0;
              font-size: 15px;
              color:rgb(178, 223, 252);
              background: none;
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }
}