.downLoad{
  width: 381px;
  height: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 15px;

  .appleApp{
    justify-content: space-around;
    
    .Rt8TI{
      width: 136px;
      height: 40px;
      text-decoration: none;
    }
  }
}

